<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head', { title: 'Danh sách sản phẩm'}) %>
  </head>
  <body class="c-app">
     <%- include('../layout/side-bar') %>
      <%# Header %>
      <%- include('../layout/header') %>
        <main class="c-main">
          <div class="container-fluid">
            <div class="fade-in">
               <div class="card">
                <div class="card-header">
                  <div class="d-flex justify-content-between">
                    <h4 class="card-title mb-0">Danh sách sản phẩm</h4>
                  </div>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-hover table-outline mb-0">
                        <thead class="thead-light">
                          <tr>
                            <th>
                              Tên sản phẩm
                            </th>
                            <th>Mã sản phẩm</th>
                            <th class="text-center">Giá sản phẩm</th>
                            <th>Danh mục</th>
                            <th>Tình trạng</th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                          </tr>
                        </thead>
                        <tbody>
                        <%  for (const p of products) { %>
                            <tr>
                                <td>
                                    <img src="<%= p.thumbnail.url %>" width="50" heigth="50"/>
                                    <span><b><%= p.title %></b></span>
                                </td>
                                <td>
                                    <span><%= p.code %></span>
                                </td>
                                <td class="text-center">
                                    <p><span><b><%- include("../components/format-price", {number: p.price_original}) %></b></span></p>
                                </td>
                                <td>
                                    <span><%= p.cate && p.cate.name %></span>
                                </td>
                                <td>
                                  <strong>
                                    <%- p.stock === "stocking" ? `<span class="text-success">Sẵn hàng</span>` : "" %>
                                    <%- p.stock === "out_of_stock" ? `<span class="text-danger">Hết  hàng</span>` : ""%>
                                  </strong>
                                </td>
                                <td>
                                   <strong>
                                    <%- p.status === "draft" ? `<span class="text-danger">Nháp</span>` : "" %>
                                    <%- p.status === "publish" ? `<span class="text-success">Xuất bản</span>` : ""%>
                                  </strong>
                                </td>
                                <td>
                                <a href="/panel/products/<%= p._id %>/edit">
                                    <button class="btn btn-sm btn-primary" type="button">
                                        <svg class="c-icon">
                                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
                                        </svg>
                                    </button>
                                </a>
                                <a data-target="delete" href="/panel/products/<%= p._id %>/delete">
                                    <button class="btn btn-sm btn-danger" type="button">
                                        <svg class="c-icon">
                                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-x"></use>
                                        </svg>
                                    </button>
                                </a>
                                </td>
                          </tr>
                        <% } %>
                          
                        </tbody>
                      </table>
                </div>
                <div class="card-footer">
                    <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm justify-content-end">
                        <li class="page-item <%=  (page > 1)  ? '' : 'disabled' %>">
                            <a class="page-link" href="/panel/products?page=<%= page - 1 %>">&laquo;</a>
                        </li>
                        <% pages.forEach((i) => { %>
                        <li class="page-item <%= page === i ? "active":"" %>">
                            <%- (i !== "...") ? `<a class="page-link" href="/panel/products?page=${i}">${i}</a>`: `<span class="page-link">${i}</span>` %>
                        </li>
                        <% }) %>
                        <li class="page-item <%=  (page < totalPage) ? '' : 'disabled' %>">
                            <a class="page-link" href="/admin/products?page=<%= page + 1 %>">&raquo;</a>
                        </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </main>
      <%# Footer %>
    <%- include('../layout/foot') %>

    <script>

    $("[data-target=delete]").on("click", function(e){
    console.log("🚀 ~ file: index.ejs ~ line 97 ~ $ ~ e", e)
      
        e.preventDefault();
        const notice = PNotify.error({
            title: 'Xác nhận xóa',
            text: 'Bạn muốn xóa sản phẩm này',
            hide: false,
            closer: false,
            sticker: false,
            destroy: false,
            stack: new PNotify.Stack({
              modal: true,
              firstpos1: 25,
              overlayClose: false
            }),
            modules: new Map([
              ...PNotify.defaultModules,
              [PNotifyConfirm, {
                confirm: true
              }]
            ])
          });

        const url  = $(this).attr('href')
        notice.on('pnotify:confirm', () => window.location = url);
    })
      
    </script>

  </body>
</html>